.TitleCards{
    margin-top: 50px;
    margin-bottom: 30px;
}
.TitleCards h2{
    margin-bottom: 8px;
}
.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;
}
.card-list img{
    width: 240px;
    break-before: 4px;
    cursor: pointer;
}

.card-list .card{
    position: relative;
}
.card-list .card p{
    text-align: center;
    text-decoration: none;
    color: #fff;
}
/*
.card-list .card p{
    position: absolute;
    bottom: 0;
    left: 60px;

}
*/